.p1div1{
    width: 1300px;
    height: 700px;
}
.p1div1 ul{
    list-style-type: none;
    display: flex;
}
li{
    margin: 60px;
}
.login{
    border: 1px solid black;
    padding: 4px;
}
.p1p1{
    color: red;
    margin: 25px;
}
.p1h1{
    margin: 25px;
    font-size: 50px;
}
.p1p2{
    margin: 25px;
}
.fom{
    border: 1px solid yellow;
    background-color: yellow;
    padding: 10px; 
    border-radius: 8px;
    margin: 25px;
}
.p1div2{
    margin-left: 350px;
}
.gimg{
    height: 600px;
    width: 800px;
    margin-left: 430px;
    margin-top: -450px;
    
    
}
.playimg{
    height: 40px;
    width: 85px;
    margin-top: -400px;
    margin-left: 150px;
}
.playtxt{
    margin-top: -40px;
    margin-left: 230px;
}
.p2h{
    text-align: center;
}
.p2sec ul{
    list-style-type: none;
    display: flex;
}
.p3h{
    text-align: center;
}
.p3sec ul{
    list-style-type: none;
    display: flex;
}
.p4head{
    margin: 25px;
}
.p4sec ul{
    list-style-type: none;
}
.p4cont1{
    display: flex;
}
.p4cont2{
    display: flex;
}
.p4cont3{
    display: flex;
}
.p5img span{
    margin: 10px;
}
.p5{
    display: flex;
}
.container{
    display: flex;
}
.p5 image1p5{
    margin: 50px;
}